#library-component {
    background-repeat:no-repeat;
    background-position:left left;
    height:100vh;
}

#accueil{
    position:absolute; 
    margin:50px; 
    margin-top:10px;  
    width:1700px; 
    height:650px; 
    padding:25px; 
    background-color:rgba(255,0,0,0.2); 
}
