# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dawagsi/dist
/dawagsi/tmp
/dawagsi/out-tsc

# dependencies
/dawagsi/node_modules

# IDEs and editors
/dawagsi/.idea
/dawagsi/.project
/dawagsi/.classpath
/dawagsi/.c9/
/dawagsi/*.launch
/dawagsi/.settings/
/dawagsi/*.sublime-workspace

# IDE - VSCode
/dawagsi/.vscode/*
/dawagsi/!.vscode/settings.json
/dawagsi/!.vscode/tasks.json
/dawagsi/!.vscode/launch.json
/dawagsi/!.vscode/extensions.json

# misc
/dawagsi/.sass-cache
/dawagsi/connect.lock
/dawagsi/coverage
/dawagsi/libpeerconnection.log
/dawagsi/npm-debug.log
/dawagsi/yarn-error.log
/dawagsi/testem.log
/dawagsi/typings

# System Files
/dawagsi/.DS_Store
/dawagsi/Thumbs.db
