<!-- Home -->
<div id="home-component">
  <div id="bienvenue">BIENVENUE SUR ILLUMINATION 3.0 !</div>
  <br />
  <div class="text-center"><img src="./assets/ressources/illumination_banner.png" id="bannière" width="40%" height="40%" /></div>

  <!-- Footer -->
  <footer id="intro">
    <p>Réalisé dans le cadre du projet tutoré 2018/2019 par Kilian DA SILVA--NAUDIN, David COURBET, Myriam LATTI,
      Julien PINTO DA FONSCECA et Marion SINAEVE<br />
      Sous la responsabilité de Christophe NICOLLE et Sébastien GERIN</p>
  </footer>
</div>