<!-- Home -->
<div id="home-component">
  <!-- Navigation -->
  <header>
    <app-navigation></app-navigation>
  </header>

  <div id="bienvenue">BIENVENUE SUR ILLUMINATION 3.0 !</div>
  <div class="text-center"><img src="./assets/ressources/fond_accueil.PNG" id="img_accueil" /></div>

  <!-- Footer -->
  <footer id="intro">
    <p>Réalisé dans le cadre du projet tutoré 2018/2019 par Kilian DA SILVA--NAUDIN, David COURBET, Myriam LATTI,
      Julien
      PINTO DA FONSCECA et
      Marion SINAEVE <br />
      En colaboration avec Checksem Lab<br />
      Tuteur : Christophe NICOLLE et Sébastien GERIN</p>
  </footer>
</div>