<!-- Home-Component -->
<div id="home-component">
  <!-- Content -->
  <div id="bienvenue">BIENVENUE SUR ILLUMINATION 3.0 !</div>
  <br />
  <div class="text-center"><img src="./assets/ressources/illumination_banner.png" id="bannière" width="40%" height="40%" /></div>
  <!-- /Content -->

  <!-- Footer -->
  <footer id="intro">
    <p>Réalisé pour le laboratoire <strong data-toggle="tooltip" title="Laboratoire Electronique, Informatique et Image">LE2I</strong>,
      Équipe de Recherche <strong data-toggle="tooltip" title="Connaissances et Intelligences Artificielles Distribuées">CIAD</strong>,
      par Kilian DA SILVA--NAUDIN, David COURBET, Myriam LATTI, Julien PINTO DA FONSECA et Marion SINAEVE.<br />
      Sous la responsabilité de : <strong>Christophe NICOLLE</strong> et <strong>Sébastien GÉRIN</strong><br />
      Chef de projet : <strong>Julien PINTO DA FONSECA</strong><br />
    </p>
  </footer>
  <!-- /Footer -->
</div>
<!-- /Home-Component -->