<!-- Annotation-Component -->
<div id="annotation-component" class="text-center">
  <div id="annotation">
    <h2>Annotation d'image</h2>
    <img src="{{uploadsDirectoryURL}}/{{selectedImage[3]}}" class="annotatable" style="border: 1px solid black; max-height:70vh;">
    <br />
    <br />
  </div>
  <!-- Informations -->
  <div id="information">
    <h3>Relations</h3>

    <br />

    <h5>Créer une nouvelle relation</h5>
    <div id="annotations-relations" class="text-center">
      <select [(ngModel)]="selectedAnnotation1">
        <option *ngFor="let annot of htmlAnnotations" [ngValue]="annot">[{{annot.id}}] {{annot.tag}}</option>
      </select>

      <input type="text" name="predicate" [(ngModel)]="selectedPredicate">

      <select [(ngModel)]="selectedAnnotation2">
        <option *ngFor="let annot of htmlAnnotations" [ngValue]="annot">[{{annot.id}}] {{annot.tag}}</option>
      </select>

      <div class="btn-group mr-2">
          <button (click)="btnCreate()" class="btn btn-dark">Créer</button>
      </div>
    </div>

    <br />

    <h5>Supprimer une relation</h5>
    <div id="annotations-relations" class="text-center">
      <select [(ngModel)]="selectedRelation">
        <option *ngFor="let rel of htmlRelations" [ngValue]="rel">[{{rel.annotation1.id}}] {{rel.annotation1.tag}} | {{rel.predicate}} | [{{rel.annotation2.id}}] {{rel.annotation2.tag}}</option>
      </select>

      <div class="btn-group mr-2">
          <button (click)="btnDelete()" class="btn btn-dark">Supprimer</button>
      </div>
    </div>

    <br />
    <br />
    
    <div class="btn-group mr-2">
        <button (click)="btnRefresh()" class="btn btn-dark">Actualiser la page</button>
    </div>
  </div>
  <!-- /Informations -->
</div>
<!-- /Annotation-Component -->