swagger: '2.0'
info:
  description: API permettant de gérer la base de données
  version: 1.1.0
  title: DAWAGSI Database API
  contact:
    name: GitHub
    url: https://github.com/SkydeFR/DAWAGSI
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

# tags are used for organizing operations
tags:
- name: database
  description: Base de données
- name: list
  description: Liste d'images
- name: image
  description: Image
- name: editor
  description: Editeur
- name: annotation
  description: Annotation
- name: relation
  description: Relation

# endpoints
paths:
  /database:
    get:
      tags:
        - database
      summary: Vérifie la connexion à la base de données
      operationId: checkDB
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: object
            
  /list/create:
    post:
      tags:
        - list
      summary: Crée une nouvelle liste
      operationId: createList
      produces:
      - application/json
      parameters:
      - in: query
        type: string
        name: name
        description: nom de la liste
        required: true
      - in: query
        type: string
        name: description
        description: description de la liste
        required: false
      responses:
        200:
          description: successful operation
          schema:
            type: object
  /list/selectAll:
    get:
      tags:
        - list
      summary: Sélectionne toutes les listes
      operationId: selectAllList
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              type: object
  /list/{id}:
    get:
      tags:
        - list
      summary: Sélectionne une liste
      operationId: selectList
      produces:
      - application/json
      parameters:
      - in: path
        type: integer
        format: int64
        name: id
        description: id de la liste
        required: true
      responses:
        200:
          description: successful operation
          schema:
            type: object
    put:
      tags:
        - list
      summary: Met à jour une liste
      operationId: updateList
      produces:
      - application/json
      parameters:
      - in: path
        type: integer
        format: int64
        name: id
        description: id de la liste
        required: true
      - in: query
        type: string
        name: name
        description: nom de la liste
        required: true
      - in: query
        type: string
        name: description
        description: description de la liste
        required: false
      responses:
        200:
          description: successful operation
          schema:
            type: object
    delete:
      tags:
        - list
      summary: Supprime une liste
      operationId: deleteList
      produces:
      - application/json
      parameters:
      - in: path
        type: integer
        format: int64
        name: id
        description: id de la liste
        required: true
      responses:
        200:
          description: successful operation
          schema:
            type: object
            
  /image/create:
    post:
      tags:
        - image
      summary: Crée une nouvelle image
      operationId: createImage
      produces:
      - application/json
      parameters:
      - in: query
        type: integer
        format: int64
        name: list
        description: id de la liste comportant l'image
        required: true
      - in: query
        type: string
        name: originalName
        description: nom original du fichier image
        required: true
      - in: query
        type: string
        name: generatedName
        description: nom md5 du fichier image
        required: true
      - in: query
        type: integer
        format: int64
        name: editor
        description: id de l'éditeur lié à l'image
        required: false
      responses:
        200:
          description: successful operation
          schema:
            type: object
  /image/selectAll:
    get:
      tags:
        - image
      summary: Sélectionne toutes les images d'une liste
      operationId: selectAllImage
      produces:
      - application/json
      parameters:
      - in: query
        type: integer
        format: int64
        name: list
        description: id de la liste comportant l'image
        required: true
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              type: object
  /image/{id}:
    get:
      tags:
        - image
      summary: Sélectionne une image
      operationId: selectImage
      produces:
      - application/json
      parameters:
      - in: path
        type: integer
        format: int64
        name: id
        description: id de l'image
        required: true
      responses:
        200:
          description: successful operation
          schema:
            type: object
    put:
      tags:
        - image
      summary: Met à jour une image
      operationId: updateImage
      produces:
      - application/json
      parameters:
      - in: path
        type: integer
        format: int64
        name: id
        description: id de l'image
        required: true
      - in: query
        type: integer
        format: int64
        name: list
        description: id de la liste comportant l'image
        required: true
      - in: query
        type: string
        name: originalName
        description: nom original du fichier image
        required: true
      - in: query
        type: string
        name: generatedName
        description: nom md5 du fichier image
        required: true
      - in: query
        type: integer
        format: int64
        name: editor
        description: id de l'éditeur lié à l'image
        required: false
      responses:
        200:
          description: successful operation
          schema:
            type: object
    delete:
      tags:
        - image
      summary: Supprime une image
      operationId: deleteImage
      produces:
      - application/json
      parameters:
      - in: path
        type: integer
        format: int64
        name: id
        description: id de l'image
        required: true
      responses:
        200:
          description: successful operation
          schema:
            type: object

# definitions of common objects
definitions: {}

# host
host: skydefr.com
basePath: /ptut/api/slim
schemes:
 - http