<!-- Navigation -->
<header>
  <app-navigation></app-navigation>
</header>

<!-- Home -->
<div id="home-component">
  <div id="bienvenue">BIENVENUE SUR ILLUMINATION 3.0 !</div>
  <div id="img_accueil"><img src="assets/ressources/fond_accueil.PNG" /></div>
</div>

<!-- Footer -->
<footer id="intro">
  <p>Réalisé dans le cadre du projet tutoré 2018/2019 par Kilian DA SILVA--NAUDIN, David COURBET, Myriam LATTI, Julien
    PINTO DA FONSCECA et
    Marion SINAEVE <br />
    En colaboration avec Checksem Lab<br />
    Tuteur : Christophe NICOLLE et Sébastien GERIN</p>
</footer>