<!-- List-Component -->
<div id="list-component">

    <!-- Gallery -->
    <div id="gallery">
        <h1>{{selectedList[1]}}</h1>
        <h5>{{selectedList[2]}}</h5>

        <br />
        <br />

        <div id="images">
            <div class="element text-center">
                <a (click)="select(this.image1[1])" [ngStyle]="{'visibility': this.image1[0]}">
                    <img src="{{uploadsDirectoryURL}}/{{image1[4]}}" alt="image" width="200px" style="max-height:200px" />
                    <div class="nom_image">{{image1[3]}}</div>
                </a>
            </div>
            <div class="element text-center">
                <a (click)="select(this.image2[1])" [ngStyle]="{'visibility': this.image2[0]}">
                    <img src="{{uploadsDirectoryURL}}/{{image2[4]}}" alt="image" width="200px" style="max-height:200px" />
                    <div class="nom_image">{{image2[3]}}</div>
                </a>
            </div>
            <div class="element text-center">
                <a (click)="select(this.image3[1])" [ngStyle]="{'visibility': this.image3[0]}">
                    <img src="{{uploadsDirectoryURL}}/{{image3[4]}}" alt="image" width="200px" style="max-height:200px" />
                    <div class="nom_image">{{image3[3]}}</div>
                </a>
            </div>
        </div>

        <br />
        <br />

        <div class="text-center">
            <button (click)="changePage(-1)" class="btn btn-dark">
                <</button> Page {{current_page}} <button (click)="changePage(1)" class="btn btn-dark">>
            </button>
        </div>

        <br />

        <div class="btn-group mr-2">
            <button (click)="btnAddImages_Open()" class="btn btn-dark">Ajouter
                des images</button>
        </div>
    </div>
    <!-- /Gallery -->

    <!-- Informations -->
    <div id="information">
        <h4>Image sélectionnée</h4>
        <span style="color:#890700">{{selectedImage[2]}}</span>

        <br />
        <br />

        <div class="text-center">
            <h5>Aperçu</h5>
            <img src="{{selectedImagePreviewURL}}" alt="image" width="200px" style="max-height:200px">
        </div>

        <br />
        <br />

        <div id="annotations-relations">
            <div class="text-center">
                <h5>Tags</h5>
                <select name="annotations" id="annotations">
                    <option *ngFor="let annot of htmlAnnotations" [ngValue]="annot">[{{annot.id}}] {{annot.tag}}</option>
                </select>
            </div>
            <div class="text-center">
                <h5>Relations</h5>
                <select name="relations" id="relations">
                    <option *ngFor="let rel of htmlRelations" [ngValue]="rel">[{{rel.annotation1.id}}] {{rel.annotation1.tag}} | {{rel.predicate}} | [{{rel.annotation2.id}}] {{rel.annotation2.tag}}</option>
                </select>
            </div>
        </div>

        <br />

        <div id="buttons">
            <div class="btn-group mr-2">
                <button (click)="btnNext()" class="btn btn-dark">Annoter l'image</button>
            </div>
            <div class="btn-group mr-2">
                <button (click)="btnDelete()" class="btn btn-dark">Supprimer l'image</button>
            </div>
        </div>
    </div>
    <!-- /Informations -->

    <!-- Modal "modUploadImages" -->
    <ngx-smart-modal #modUploadImages customClass="modUploadImages" identifier="modUploadImages" [closable]=true
        [escapable]=false [dismissable]=false (onCloseFinished)="requestAPI()">
        <div style="height:50vh; text-align:center">
            <div style="width:80%; margin-left:10%">
                <app-upload-image></app-upload-image>
            </div>
        </div>
    </ngx-smart-modal>
    <!-- /Modal "modUploadImages" -->

</div>
<!-- /List-Component -->