<br />
<br />
<br />
<br />
<div id="gallery" [innerHTML]="html_lists">
  <!--
  <div class="element">
    <a href="javascript:void(null);">
      <img src="./assets/ressources/image.png" alt="image" width="200" height="auto">
    </a>
    <div class="nom_liste">Nom Liste</div>
  </div>

  <div class="element">
    <a href="javascript:void(null);">
      <img src="./assets/ressources/image.png" alt="image" width="200" height="auto">
    </a>
    <div class="nom_liste">Nom Liste</div>
  </div>

  <div class="element">
    <a href="javascript:void(null);">
      <img src="./assets/ressources/image.png" alt="image" width="200" height="auto">
    </a>
    <div class="nom_liste">Nom Liste</div>
  </div>
  -->
</div>
<br />
<br />
<br />
<br />
<br />