nav ul
{
    list-style-type: none;
    display: flex;
    background-color: #890700
}

nav li
{
    margin: 20px 15px 15px 20px; 
    font-size: 25px; 
}

nav a
{
    font-size: 1.3em;
    color:white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #BE8900;
    border-bottom: 3px solid  #BE8900;
}

#logo 
{
    width: 70px; 
    height: auto;
}