<!-- Show-List -->
<div id="show-list-component">

    <div id="accueil">
        <div id="gallery">
            <h1>Nom de la liste</h1>
            <h3>Description</h3>
            <app-gallery-images></app-gallery-images>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-dark">Ajouter image</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-dark">Supprimer</button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <a href="./annotation"><button type="button" class="btn btn-dark">Annoter</button></a>
                </div>
            </div>
        </div>

        <div id="information">
            <h4>Information sur l'image</h4><br />
            <h5>Aperçu</h5>
            <img src="./assets/ressources/image.png" alt="image" width="200" height="auto"><br /><br />
            <h5>Tags</h5>
            <form method="post" action="traitement.php">
                <p>
                    <select name="tag" id="tag">
                        <option value="tag1">Tag 1</option>
                        <option value="tag2">Tag 2</option>
                        <option value="tag3">Tag 3</option>
                        <option value="tag4">...</option>
                    </select>
                </p>
            </form><br />
            <h5>Relations</h5>
        </div>
    </div>
</div>