#show-list-component {
    height:100vh;
    background:url('./../../../assets/ressources/background_white.jpg');
}

#accueil{
    position:absolute; 
    margin:50px; 
    margin-top:50px;  
    width:1700px; 
    height:650px; 
    padding:25px; 
    background-color: #890700;
}

#information{
    float:right; 
    width:500px; 
    height:550px; 
    padding:25px; 
    background-color:white; 
    border: solid 5px #BE8900;
}

h1, h3, p{
    margin-left: 30px;
}

#gallery{
    float:left; 
    width:900px; 
    height:550px; 
    padding:25px; 
    background-color:white;
    border: solid 5px #BE8900;
}