#library-component {
    height:100vh;
}

#accueil{
    position:absolute; 
    margin:50px; 
    margin-top:50px;  
    width:1700px; 
    height:650px; 
    padding:25px; 
    background-color: #890700;
}

#gallery{
    float:left; 
    width:900px; 
    height:550px; 
    padding:25px; 
    background-color:white;
    border: solid 5px #BE8900;
}

gallery.button{
    margin-top: 50px; 
}

#information{
    float:right; 
    width:500px; 
    height:550px; 
    padding:25px; 
    background-color:white; 
    border: solid 5px #BE8900;
}