
#gallery
{
  display: flex; 
  flex-wrap: wrap; 
}

#information{
  float:right; 
  width:500px; 
  height:550px; 
  padding:25px; 
  background-color:white; 
  border: solid 5px #BE8900;
}

.nom_image
{
    text-align: center; 
}