<!-- Presque pareil que gallery-lists mais avec des images, cf gallery-lists et interface gallery-image -->
<br /><br /><br />
<div id="gallery">
  <div class="element">
    <a href="javascript:void(null);">
      <img src="./assets/ressources/image.png" alt="image" width="200" height="auto">
    </a>
    <div class="nom_image">Nom Image</div>
  </div>

  <div class="element">
    <a href="javascript:void(null);">
      <img src="./assets/ressources/image.png" alt="image" width="200" height="auto">
    </a>
    <div class="nom_image">Nom Image</div>
  </div>

  <div class="element">
    <a href="javascript:void(null);">
      <img src="./assets/ressources/image.png" alt="image" width="200" height="auto">
    </a>
    <div class="nom_image">Nom Image</div>
  </div>
</div>
<br /><br /><br />